@model Clinic

<p> Do you want to delete the product with the ID @Model.Id </p>

<form asp-controller="Admin" asp-action="DeleteClinic" method="post">
    <input type="hidden" name="Id" asp-for="@Model.Id">
    <button type="submit" class="btn btn-outline-danger">Yes</button>
</form>

<form asp-controller="Appointment" asp-action="DeleteClinics" method="get">
    <button type="submit" class="btn btn-outline-primary">No</button>
</form>